@import '../styles/_variables';

.tab-wrapper {
  padding-top: 0em;
  -webkit-box-shadow: 0 3px 2px 0 rgba(208, 208, 208, 0.5);
  -moz-box-shadow: 0 3px 2px 0 rgba(208, 208, 208, 0.5);
  box-shadow: 0 3px 2px 0 rgba(208, 208, 208, 0.5);
  position: fixed !important;
  top: 3rem;
  z-index: 10;
  width: 100%;
  background-color: $white;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab-option {
  font-family: $family-primary;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  // TODO use the Bulma's color modifier to set the background color
  color: $dark;
  padding: 0.5em 0em !important;
  border-bottom-color: unset !important;
  border-bottom-style: none !important;
  border-bottom-width: 0rem !important;
  &.is-active {
    font-weight: 800;
    color: $primary !important;
  }
}

.item-option {
  line-height: 1.43;
  letter-spacing: normal;
  &.is-active {
    border-bottom: 0.1875rem solid $primary !important;
    border-top: 0.25rem solid transparent !important;
  }
}

.tabs ul {
  border-bottom: 0px none !important;
}
