{
    "policy": {
        "phases": {
            "hot": {
                "min_age": "0ms",
                "actions": {
                    "rollover": {
                        "max_age": "{{ item.hot.actions.rollover.max_age }}",
                        "max_size": "{{ item.hot.actions.rollover.max_size }}"
                    },
                    "set_priority": {
                        "priority": 100
                    }
                }
            },
            "warm": {
                "min_age": "0ms",
                "actions": {
                    "allocate": {
                        "number_of_replicas": {{ item.warm.actions.allocate.number_of_replicas }},
                        "include": {},
                        "exclude": {},
                        "require": {
                            "data": "warm"
                        }
                    },
                    "forcemerge": {
                        "max_num_segments": {{ item.warm.forcemerge.max_num_segments }}
                    },
                    "set_priority": {
                        "priority": 50
                    },
                    "shrink": {
                        "number_of_shards": {{ item.warm.shrink.number_of_shards }}
                    }
                }
            },
            "delete": {
                "min_age": "{{ item.delete.min_age }}",
                "actions": {
                    "delete": {}
                }
            }
        }
    }
}