.drawer {
  &__container {
    z-index: 100 !important;
    padding-top: 22rem;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 1rem;
    width: 100%;
    min-height: 100vh;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    background-color: white;
    will-change: transform;
  }

  &__handle {
    width: 40px;
    height: 6px;
    border-radius: 4px;
    background-color: #979797;
  }

  &__content {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
}
