@import '../../styles/base/index.scss';

.alert-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px !important;
  border-radius: 4px;
}

@media (max-width: 400px) {
  .alert-modal {
    min-width: 18rem !important;
  }
}

.alert-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  margin: 2rem 0;
  text-align: center;
  font-weight: 800;
}

.alert-button {
  width: 100%;

  .cta-alert-btn {
    border-top: 1px solid #e0e0e0;
  }

  .cta-alert-btn > button {
    font-weight: 800;
    width: 100% !important;
    height: 3.25rem;
    justify-content: center;
  }
}
