.loading {
  &-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 100;
    position: fixed;
  }

  &-spinner {
    animation: rotate 1s linear infinite;
    background: #000;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
  }

  &-spinner:before,
  &-spinner:after {
    content: '';
    position: absolute;
  }

  &-spinner:before {
    border-radius: 50%;
    background: linear-gradient(
          0deg,
          hsla(0, 100%, 100%, 1) 50%,
          hsla(0, 100%, 100%, 0.9) 100%
        )
        0% 0%,
      linear-gradient(
          90deg,
          hsla(0, 100%, 100%, 0.9) 0%,
          hsla(0, 100%, 100%, 0.6) 100%
        )
        100% 0%,
      linear-gradient(
          180deg,
          hsla(0, 100%, 100%, 0.6) 0%,
          hsla(0, 100%, 100%, 0.3) 100%
        )
        100% 100%,
      linear-gradient(
          360deg,
          hsla(0, 100%, 100%, 0.3) 0%,
          hsla(0, 100%, 100%, 0) 100%
        )
        0% 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
  }

  &-spinner:after {
    background: #000;
    border-radius: 50%;
    // adjust the top, bottom, left, and right value to update spinner width
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
