@import '../../styles/base/index.scss';

aside.menu {
  transform: translateX(-150px);
  transition: transform 400ms ease-in;
  background-color: $white;
  max-width: 72%;
  min-width: 72%;
  max-height: 100%;
  min-height: 100%;
  position: fixed !important;
  top: 0;
  z-index: 120;
  right: 0;
  padding: 0.9375rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu-list {
    li {
      font-family: $family-primary;
      font-size: 1rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }
  }
}

#sidebar-menu.slide-in {
  transform: translateX(0);
}

#sidebar-menu.slide-out {
  transform: translateX(100%);
}

div.sidebar-overlay {
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 110;
  top: 0;
  left: 0;
  position: fixed;
}

.sidebar-footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.43;
  letter-spacing: normal !important;

  div {
    p {
      color: $grey-line;
      font-size: 12px;
      line-height: 1.33;
    }

    flex: 1 1 auto;
  }

  .sidebar-login-as {
    width: 100%;
    padding: 0 0 0 0.75em;

    &-label {
      font-size: 0.75rem;
      line-height: 1rem;
      color: #979797;
    }

    &-primaryid {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #1e1e1e;
    }
  }

  .sidebar-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    margin-left: 3px;
  }
}

.notification-copy-inactive {
  z-index: 300;
  position: fixed;
  bottom: -20rem;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  width: auto;
  padding: 1rem;
  color: rgb(250, 250, 250);
  font: 1rem $family-primary;
  border-radius: 5px;
  background: rgb(33, 33, 33);
  box-shadow: rgba(10, 10, 11, 0.125) 0px 0px 1px 1px;
  cursor: default;
  transition: all 0.5s cubic-bezier(0.89, 0.01, 0.5, 1.1) 0s;
  transform: translateZ(0px);
  border-radius: 30px;
  opacity: 0.8;
}

.notification-copy-active {
  z-index: 300;
  position: fixed;
  bottom: 2rem;
  left: 0 !important;
  right: 0 !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  text-align: center !important;
  transition: none !important;
  transform: none !important;
  width: auto;
  padding: 1rem;
  color: rgb(250, 250, 250);
  font: 1rem $family-primary;
  border-radius: 5px;
  background: rgb(33, 33, 33);
  box-shadow: rgba(10, 10, 11, 0.125) 0px 0px 1px 1px;
  cursor: default;
  transition: all 0.5s cubic-bezier(0.89, 0.01, 0.5, 1.1) 0s;
  transform: translateZ(0px);
  border-radius: 30px;
  opacity: 0.8;
}
