@import '../../styles/base/index.scss';

@media (max-width: 400px) {
  .subscription-modal {
    min-width: 18rem !important;
  }
}

.subscription-modal {
  width: 90%;
  padding: 0px !important;
  border-radius: 4px;
}

.subscription-content-wrapper {
  display: flex;
  flex-direction: column;
  font-family: $family-primary;
}

.subscription-modal-header {
  display: flex;
  padding: 1.5rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  line-height: 1.39;
  letter-spacing: 0.11px;
  color: $dark;
}

.subscription-modal-content {
  padding: 1.5rem !important;
  padding-top: 0 !important;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: $dark;
}

.subscription-btn-wrapper {
  display: flex;
  flex-direction: row;
  border-top: solid 1px $grey-lighter;

  & > div {
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 1.25;
    letter-spacing: normal;
  }

  & > div:first-child {
    font-weight: normal;
    border-right: solid 1px $grey-lighter;
    color: $dark;
  }

  & > div:last-child {
    font-weight: 800;
    color: $primary;
  }
}
