.terms-of-use {
  font-size: 14px;
  .bold {
    font-weight: bolder;
  }
  h1 {
    font-weight: 800;
    font-size: xx-large;
  }

  h2 {
    font-weight: 800;
    font-size: x-large;
  }

  ol {
    margin-left: 16px;
  }
}
