@import '../../styles/base/index.scss';

.tnc-container {
  padding-top: 1rem;

  &__title {
    font-family: $family-primary;

    .highlighted-text {
      font-weight: normal;
      color: $primary;
      text-decoration: underline;
    }

    p {
      color: $dark;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
    }
  }
}

.terms-condition {
  margin-top: 1rem;
  font-family: $family-primary;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $dark;
  text-align: left;

  a {
    color: $primary;
  }
}
