@import '../../styles/base/index.scss';

.failed-payment-modal {
  width: 90%;
  padding: 0px !important;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem 1.2rem 1rem;
  }

  &__header {
    text-align: center;
    font-size: 0.9375rem;
    font-weight: bold;
    color: #1e1e1e;
  }

  &__content {
    margin-top: 1rem;
    text-align: center;
    line-height: 1.33;
    font-size: 0.9375rem;
    color: #343434;
  }

  &__cta > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
    font-weight: 600;
  }
}
