@import '../../styles/base/index.scss';

.related-movie {
  &__title {
    display: block;
    padding: 1.5rem 1.25rem 0.75rem 1.25rem;
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    border-top: solid 4px $grey-lighter;
  }

  &__cards {
    margin: 0 -0.2rem 1rem -0.2rem !important;
  }
}
