$dark: #1e1e1e;
$white: #fff;
$white-background: #d8d8d8;
$black: #000000;
$black-light: #888888;
$black-lighter: #dedede;
$white-ter: #f0f0f0;
$grey-line: #979797;
$grey-blur: #606060;

// Set your brand colors
$purple: #951b81 !default;
$purple-darker: #4f1556 !default;
$grey-lighter: #e0e0e0 !default;
$family-primary: 'Muli', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;

$subscription-header-background-color: #f7f7f7;
$subscription-btn-color: #555555;
