html,
body {
  font-family: 'Muli', BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Helvetica, Arial, sans-serif !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.padTop-1rem {
  padding-top: 1rem;
}

.marTop-1rem {
  margin-top: 1rem;
}

.marTop-2rem {
  margin-top: 2rem;
}

.padTop-05rem {
  padding-top: 0.5rem;
}

.toast-enter {
  opacity: 0;
}
.toast-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.toast-exit {
  opacity: 1;
}
.toast-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
