@import '../../styles/_variables.scss';

.link-tv {
  &__steps {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #f7f7f7;
    margin-top: 1rem;
    margin-bottom: -0.5625rem;
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #1e1e1e;

    & > ol {
      margin-left: 1rem;
    }

    &__button {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: #951b81;
    }
  }
}
