@import '../../styles/_variables.scss';

.link-tv {
  &__guide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #1e1e1e;
    text-align: left;
    font-family: $family-primary;

    h1 {
      font-size: 1.125rem;
      font-weight: 800;
      line-height: 1.93;
      letter-spacing: 0.11px;
      color: #1e1e1e;
    }

    p {
      line-height: 2;
      margin-bottom: -0.25rem;
    }

    span {
      color: #951b81;
      text-decoration: underline;
    }
  }

  &__input {
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 1px $grey-lighter;
    border-radius: 4px;
    font-family: $family-primary;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;

    &:focus {
      outline: none;
      text-decoration: unset;
    }

    padding: 0.6rem 0.4rem 0.9rem 1.2rem;
    letter-spacing: 2rem;
    text-indent: 2rem;

    @media only screen and (max-width: 320px) {
      padding: 0.6rem 0.4rem 0.9rem 0.4rem;
      letter-spacing: 1.2rem;
      text-indent: 3rem;
    }

    @media only screen and (min-width: 321px) and (max-width: 360px) {
      padding: 0.6rem 0.4rem 0.9rem 1.7rem;
      letter-spacing: 1.5rem;
      text-indent: 2.5rem;
    }

    @media only screen and (min-width: 361px) and (max-width: 375px) {
      padding: 0.6rem 0.4rem 0.9rem 1.2rem;
      letter-spacing: 2rem;
      text-indent: 2rem;
    }

    @media only screen and (min-width: 376px) and (max-width: 414px) {
      padding: 0.6rem 0.4rem 0.9rem 1.2rem;
      letter-spacing: 2rem;
      text-indent: 3.5rem;
    }
  }

  &__input_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 2rem;
    button {
      margin-top: 2rem;
      width: 100;
      font-family: $family-primary;
      font-size: 16px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      background-color: $grey-lighter;
      border-radius: 4px;
      padding: 0.6rem;
      border-style: solid;
    }
    .active {
      background-color: $purple !important;
    }
  }
}
