/target/**
/Reports/**
/test-output/**
/target/
/HistoryOfReports/**
/node_modules/**
/FailedTestsScreenshots/**
/App/**
.DS_Store
src/test/web/web/.DS_Store

/hs_err_pid37698.log
/hs_err_pid38915.log
/apk/
/ipa/
.idea/
ResultCollector.json
.vscode/