functionbeat.provider.aws.endpoint: "s3.amazonaws.com"
functionbeat.provider.aws.deploy_bucket: "{{ s3_bucket }}"

functionbeat.provider.aws.functions:
  - name: "{{ functionbeat_log_files }}-cloudwatch"
    enabled: true
    type: cloudwatch_logs
    description: "lambda function for cloudwatch logs"
    triggers:
      - log_group_name: "{{ functionbeat_log_files }}"

cloud.id: "{{ secret.elastic_stack.cloud_id }}"
cloud.auth: "{{ secret.elasticsearch.username }}:{{ secret.elasticsearch.password }}"

setup.template.enabled: true
setup.template.name: "hooq-app-{{ svc }}-logs-template"
setup.template.pattern: "hooq-app-{{ svc }}-logs-*"
setup.template.settings:
  index.number_of_shards: 1
  index.number_of_replicas: 1

fields:
  env: "{{ env }}"

setup.ilm.enabled: auto
setup.ilm.rollover_alias: "hooq-app-{{ svc }}-logs"
setup.ilm.policy_name: "hooq-app-ilm-policy"

output.elasticsearch.index: "hooq-app-{{ svc }}-logs-%{+yyyy.MM.dd}"

processors:
  - decode_json_fields:
      fields: ["message"]
      max_depth: 3
      target: ""
      overwrite_keys: true
