.curation-wrapper {
  margin: 0 -1rem 0 -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.curation-wrapper:not(:first-child) {
  border-top: solid 4px #e0e0e0;
  width: 100vw;
}

.curation-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

.curation-wrapper:last-child {
  margin-bottom: 1rem;
}

.curation-wrapper {
  .curation-header {
    padding-top: 1.05rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    margin-bottom: -1.35rem;
  }

  &:first-child {
    .curation-header {
      padding-top: 0.5rem;
    }
  }
}
