.privacy-policy {
  font-size: 14px;
  p:first-child {
    font-weight: 800;
    font-size: larger;
  }

  h1 {
    margin-top: 8px;
    font-size: large;
  }

  h2 {
    margin-top: 8px;
    font-size: large;
  }

  h3 {
    margin-top: 8px;
    font-size: large;
  }

  ul {
    margin-left: 16px;
  }
}
