@import '../../styles/base/index.scss';

.carousel__wrapper {
  text-align: center;
  align-content: center;
  margin: 1.1em 0 1.5em;
}

.carousel__item {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.carousel__item--landscape {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.carousel__item::after {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(63, 63, 63, 0), #333333);
  height: 4.5rem;
  margin-top: -4.5rem;
  width: 100%;
  content: '';
}

.carousel__image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.carousel__title {
  position: absolute;
  bottom: 0.7rem;
  font-family: $family-primary;
  font-size: 1.2rem;
  font-weight: 800;
  color: $white;
  margin: 7.2rem 0 0 1rem;
  letter-spacing: -0.0125rem;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  max-width: 13rem;
  z-index: 99;
}

.carousel__title--with-label {
  bottom: 2rem !important;
}

.carousel__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
}

.slick-slider {
  margin: 0 -1em;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-slide {
  padding: 0 0.3em;
  height: auto !important;
}

.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

//Iphone 5/SE
@media only screen and (max-width: 320px) {
  picture {
    min-height: 136px;
  }
}

// Galaxy S5
@media only screen and (max-width: 360px) and (min-width: 321px) {
  picture {
    min-height: 153px;
  }
}

// Iphone X
@media only screen and (max-width: 375px) and (min-width: 361px) {
  picture {
    min-height: 167px;
  }
}

// Pixel 2
@media only screen and (max-width: 441px) and (min-width: 376px) {
  picture {
    min-height: 180px;
  }
}
